{{define "content"}}
<article>
    <button hx-get="/delete/{{.Rid}}" hx-swap="none">
        Delete Room
    </button>
    <h1>{{.Rname}}</h1>
    <p>#{{.Rid}}</p>
    <section hx-ext="ws" ws-connect="/ws/chat/{{.Rid}}" ws-target="#log-{{.Rid}}">
        <div id="log-{{.Rid}}" hx-swap-oob="beforeend">log:</div>
        <form id="{{.Rid}}" ws-send>
            <input type="text" name="msg" size="64" autofocus />
            <input type="submit" value="Send" />
        </form>
    </section>
</article>
{{end}}
