{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>rtm</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"
        integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <link href="/static/main.css" rel="stylesheet">
</head>

<body>
    <header><a href="/dashboard">home</a></header>
    <main>
        <h1 class="text-3xl font-bold underline">
            Hello world!
        </h1>
        {{template "content" .}}
    </main>
</body>

</html>
{{end}}
