{{define "content"}}
<article>
    <button hx-get="/logout" hx-trigger="click" hx-swap="none">logout</button>
    <h1>Dashboard</h1>
    <p>G'day {{.User.Username}}!</p>

    <p>Your active rooms:</p>
    <ul>
        {{range $val := .Rids}}
        <li><a href="/room/{{$val}}">{{$val}}</a></li>
        {{end}}
    </ul>

    <form hx-post="/create" hx-trigger="submit" hx-swap="none">
        <input id="create-room" name="rid" rows="1" cols="20" placeholder="Enter your room name" />
        <input type="submit" value="Create Room" />
    </form>
    <form hx-post="/join" hx-trigger="submit" hx-swap="none">
        <input id="join-room" name="rid" rows="1" cols="20" placeholder="Enter your room name" />
        <input type="submit" value="Join Room" />
    </form>
</article>
{{end}}
