package view

templ Landing() {
	@Layout() {
		<article id="home">
			<h1>shall we go.</h1>
			<button hx-swap="outerHTML" hx-target="#home" hx-get="/login-form">login</button>
			<button class="bg-blue-500" hx-swap="outerHTML" hx-target="#home" hx-get="/signup-form">signup</button>
		</article>
	}
}
